<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I am a highly motivated self taught Developer seeking to increase my skills and build a career as a Programmer. I have created many projects and I would love to have the opportunity to talk about how I can be an asset to your team and company based on my diverse background as an Engineer and my knowledge in programming. <br><em>Skills: Ruby, Ruby on Rails, Python, Heroku, Git, OOP, Tkinter, HTML, CSS, API, Selenium.</em></p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Adrian-Mihaila"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/adrian-mihaila-814128a4/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>